# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/

# Test binary, build with `go test -c`
*.test

# Test result file
tests.xml

# Output of the go coverage tool
*.out
coverage.html