NOTICES AND INFORMATION

This software incorporates material from third parties listed below.

{{range .}}-------------------------------------------------------------------
{{ .Path }} {{ .Version}}

{{ .LicenseText}}

-------------------------------------------------------------------
{{end}}
